<div class="container-fixed">
  <div class="row">
    <div class="col-5">
      <h1><%= t('.grab_bike') %></h1>
      <p><%= t('.best_bike') %></p>
      <div class="row">
        <h3><%= link_to t('.create_account'), new_user_path, class: "create-button" %></h3>
      </div>
    </div>

  </div>

</div>
